<p>Welcome <%= @user.firstname %>&nbsp;<%= @user.lastname %>!</p>

<p>You can confirm your account through the link below:</p>

<p><%= link_to("Confirm my Email", "#{@origin}/activation?token=#{@user.activation_digest}") %></p>
